@import "highlight"
@import "page"
@import "typo"

#page{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/*背景颜色*/
$background-color-light=rgb(245,245,245)
$background-color-dark=rgb(18,18,18)

#app {
  .theme--light.v-application {
    background: $background-color-light;
  }
  .theme--dark.v-application {
    background: $background-color-dark;
  }
  .theme--light.v-list {
    background: $background-color-light;
  }
  .theme--dark.v-list {
    background: $background-color-dark;
  }
}

/*侧边栏*/
$main-menu-height=calc(0.55 * (100vh - 24px - 30px - 96px - 36px - 150px))
$sub-menu-height=calc(0.45 * (100vh - 24px - 30px - 96px - 36px - 150px))

#sidebar {
  position: fixed;
  width:166px;   
  & .v-avatar{
    margin: 15px 35px;
  }
}
#main-menu{
  overflow: auto;
  max-height: $main-menu-height;
  font-size: 18px;
  & .v-list-item__content{
    opacity: .75;
  }
}
#sub-menu{  
  overflow: auto;
  max-height: $sub-menu-height;
  font-size: 16px
  opacity: .75
  & .v-badge{
    margin: auto;
    width: 100%;
  }
  & .v-list-item__content{
    text-align:right;
  }
}
.mini-menu{
  text-align: center;
}

#mobile-menu{
  margin: 0 5px;
  & .mobile-mini-menu{
    text-align: center
    white-space:nowrap
    height: 37px
    overflow-x: auto
  }
}

#mobile-footer{
  margin: 0 auto;
  padding-top: 20px;
  & #mobile-footer-content{
    padding-top: 10px;
    text-align: center;
    opacity: .75;
    font-size: 14px;
  }
}

/*标题栏*/
#site-title{
  font-size: 36px
  opacity: .96
  & a {
    text-decoration: none;
    &:visited, &:link {
      color: unset;
    }
  }    
}
#site-description{
  font-size: 24px
  color: #444
  opacity: .89
}

/*底部导航*/
#pagination{
  margin-top: 20px
}

/*页脚*/
#footer{
  position: fixed;
  bottom: 12px;
  opacity: .75;
  & .footer-content{
    padding-top: 5px;
    font-size: 14px;
  }
  & .footer-social{
    padding-bottom: 12px;
  }
}

/*首页*/
.index-article-content{
  margin: 15px 0 5px 0;
}
.index-card{
  padding: 10px 30px;
  & .index-article{
    padding: 10px 0;
  }
}
.index-article-header{
  & a{
    text-decoration: none;
    &:visited, &:link {
      color: unset;
    }
  }
  & .index-article-header-title{
    font-size: 28px;
    line-height: 42px;
    opacity: .96;
  }
  & .index-article-header-category{
    font-size: 20px;
    line-height: 30px;
    opacity: .59;
  }
  & .index-article-header-date{
    font-size: 18px;
    line-height: 27px;
    opacity: .75;
  }
  & .index-article-header-tag{
    opacity: .75;
    & .index-article-header-tag-content{
      padding: 0 5px;
      color: #ffffff
      font-size: 18px;
      line-height: 27px;
    }
    & .v-icon{
      color: #ffffff
      font-size: 16px;
      line-height: 24px;
    }
  }
}
.index-article-readmore{
  padding-bottom: 15px
  text-align:center;
  & .v-btn__content{
    font-weight: 700
    font-size: 18px
    line-height: 27px;
    opacity: .75;
  }
}

/*文章页*/
.post-card{
  margin-bottom: 40px;  
}

.post-header{
  text-align:center;
  position: relative;
  padding: 40px 30px 0px 30px;
  .post-img &{
    padding: 24px;
  }
  & .post-header-title {
    text-decoration: none;
    display: block;
    font-size: 28px;
    line-height: 42px;
    opacity: .96;
    &:visited, &:link {
      color: unset
    }
  }
  .post-header-meta{
    display: block;
    font-size: 14px;
    line-height: 18px;
    opacity: .75;
    margin: 5px 0
    &>span+span::before{
      content: "|";
      margin: 0 0.5em;
    }
    & .v-icon{
      font-size: 18px
      line-height: 18px;
    }
    & a:visited, & a:link {
      color: unset
    }
  }
}
.post-content{
  padding: 20px 30px
}
.post-nav {
    height: 34px
}
.post-nav-button {
  color: rgba(0, 0, 0, 0.87)
  opacity: .75
  font-size: 16px
  line-height: 1.5
  width: 40%
  margin: 5px 0
  vertical-align: center
  & .v-icon{
    display: inline
    font-size: 24px
    vertical-align: unset
  }
  & a{    
    display: inline-block;
    width: calc(100% - 30px);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    &:visited, &:link {
        color: unset;
    }
  }
}

.text-right{
    text-align: right
}

.text-left{
    text-align: left
}

.comment-card{
  padding: 15px;
}

/*Page Describe 页面描述*/
.page-describe{
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

/*Category List 分类列表*/
.category-list {
    margin: 20px 60px;
    padding: 0;
    list-style: none;
    & .category-list-item {
        margin: 5px 10px;
        & .category-list-link{
            font-size: 16px;
            line-height: 32px;
            &:visited, &:link {
                color: unset;
            }
        }
    }
    & .category-list-count {
        color: #bbb;
        &::before {
            display: inline;
            content: " (";
        }
        &::after {
            display: inline;
            content: ") ";
        }
    }
    & .category-list-child {
        padding-left: 10px;
    }
}
  
/*Tags Chip 标签页纸片*/
.tags-contain{
  margin: 20px 60px;
  padding: 0;
  & .tags-chip{
    margin: 10px 10px;
    & a{
      font-size: 18px;
      line-height: 27px;
      text-decoration: none;
      &:visited, &:link {
        color: unset;
      }
    }
  }
}

/* 时间轴 */
.timeline{
  margin: 20px 0;
}
.timeline-header{
  padding-bottom: 50px;
}
.timeline-title{
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  opacity: 0.75;
  text-decoration: none;
  &:visited, &:link {
    color: unset;
  }
}
.timeline-subtitle{ 
  padding-left: 5px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  opacity: 0.45;
}
.timeline-item-time{
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  opacity: 0.59;
}
.timeline-item-title{
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  opacity: 0.75;
  text-decoration: none;
  &:visited, &:link {
    color: unset;
  }
}
.timeline-item-post {
  & .timeline-item-title{
    padding-left: 24px;
  }
}

/*搜索页*/
#search-result{
  min-height: 80%;
  padding-top: 20px;
  & .search-post{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    & .search-post-title{
      padding-bottom: 10px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      opacity: 0.75;
      text-decoration: none;
      &:visited, &:link {
        color: unset;
      }
    }
    & .search-post-content{
      font-size: 16px;
      line-height: 24px;
    }
    & .search-post-bold{
      padding: 0 2px;
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
      opacity: 0.75;
    }
  }
}

/*目录*/
.post-toc{
  height: $sub-menu-height
  & .toc-header {
    padding: 10px 0;
    display: block;
    height: unset;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    opacity: .75;
    text-decoration: none;
    &:visited, &:link {
      color: unset;
    }
  }
  & .toc-content{
    height: calc(100% - 47px);
    overflow: auto;
    & ol{
      margin: 0;
      padding-left: 10px;
      text-align: left;
      list-style: none;
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
      opacity: .8;
      & a{
        text-decoration: none;
        &:visited, &:link {
          color: unset;
        }
      }
    }
  }
}

/****/
.v-application .title {
  font-size: unset !important;
  font-weight: unset !important;
  letter-spacing: unset !important;
}

.v-application .headline, .v-application .title {
  line-height: unset !important;
  font-family: unset !important;
}