/*图片大小*/
img{
  max-width: 100%;
}

/*表格边框*/
table{
  border-collapse: collapse;
}
tr td,th{
  border:1px solid #444;
}

/*引用块*/
blockquote {
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
  font-weight: 400;
  border-left: 4px solid rgba(0, 0, 0, .12);
}
@media only screen and (max-width: 599px) {
  .mdui-typo blockquote {
    margin: 1em 0;
  }
}
.theme--dark blockquote {
  border-left-color: rgba(255, 255, 255, .12);
}

/* 响应式图片和视频 */
.img-fluid,
.video-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}
/* 圆角图片 */
.img-rounded {
  border-radius: 2px;
}
/* 圆形图片 */
.img-circle {
  border-radius: 50%;
}
.fluid-video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.fluid-video-container iframe,
.fluid-video-container object,
.fluid-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*响应式公式*/
.math-fluid{
  overflow-x: auto;
}
.mermaid{
  overflow-x: auto;
}

/*评论服务*/
#pop_ad,#feedAv{
  display:none!important;
  position:absolute!important;
  z-index:-9999;
  left:-1000px;
  opacity:0!important
}

/* 滚动条 */
::-webkit-scrollbar {
  width : 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background   : grey;
}

.mobile-mini-menu::-webkit-scrollbar,
#main-menu::-webkit-scrollbar,
#sub-menu::-webkit-scrollbar{
    width : 1px;
    height: 1px;
}
